>**기출문제 제6회**
>>**01 작업형 제1유형**

## 옵션 설정

In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None) # 모든 칼럼이 출력되게 조절

## 문제 1. 
- 다음 데이터에서 ProductA 가격과 ProductB 가격이 모두 0원이 아닌 데이터를 필터링
- ProductA와 ProductB의 가격 차이 정의 
- 각 도시별 가격 차이의 평균 중 가장 큰 값을 구하시오. 
- 소수점 첫째 자리에서 반올림

In [ ]:
data1 = pd.read_csv('6_1_1.csv') 
data1.head()

   도시명  ProductA가격  ProductB가격
0   울산       25000       10000
1   인천       30000           0
2   광주       15000        8000
3   울산           0       10000
4   대구       25000        6000
..  ..         ...         ...
95  대전       25000        4000
96  인천       15000        6000
97  대전        5000        6000
98  울산        5000        4000
99  울산       20000        6000

[100 rows x 3 columns]

In [84]:
# 코드 
data_df=data1.copy()
not0=data_df[data_df['ProductA가격']!=0][data_df['ProductB가격']!=0]
# pricecha=not0[not0['ProductA가격']-not0['ProductB가격']]
cha=(not0['ProductA가격'])-(not0['ProductB가격'])
not0['A와B의 차이']=cha
not0[['도시명','A와B의 차이']]

C:\Users\Admin\AppData\Local\Temp\ipykernel_6604\377149035.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  not0=data_df[data_df['ProductA가격']!=0][data_df['ProductB가격']!=0]

   도시명  A와B의 차이
0   울산    15000
2   광주     7000
4   대구    19000
5   광주    14000
6   광주    14000
..  ..      ...
95  대전    21000
96  인천     9000
97  대전    -1000
98  울산     1000
99  울산    14000

[66 rows x 2 columns]

## 문제 2. 
- 100명의 키와 몸무게를 조사하여 적정 체중인지 판단할 수 있는 BMI 산출
- 다음 정의를 기준으로 저체중, 정상, 과체중, 비만을 구분하고, 저체중인 사람과 비만인 사람의 총 합을 구하시오. 
- 구분 (BMI 기준, 소수점 둘째자리까지)
    + 저체중 : 18.5 미만
    + 정상 : 18.5 이상 23 미만
    + 과체중 : 23 이상 25 미만
    + 비만 : 25 이상
$$BMI = \frac{몸무게(kg)}{키(m)^2}$$

In [7]:
data2 = pd.read_csv('6_1_2.csv')
data2.head(1)

   Height_cm  Weight_kg
0  165.02132  66.131592

In [11]:
# 코드

저체중과 비만인 사람의 수: 74

## 문제 3. 
- 다음 데이터에서 연도별로 가장 큰 순생산량(생산된 제품 수 - 판매된 제품 수)을 가진 공장을 찾고, 순생산량이 합을 계산하시오. 
    + products made domestic : 국내 생산된 제품 수
    + products made international : 해외 생산된 제품 수
    + products sold domestic : 국내 판매된 제품 수
    + products sold international : 해외 판매된 제품 수

In [3]:
data3 = pd.read_csv('6_1_3.csv')
data3.head(1)

,factory,products_made_domestic,products_made_international,products_sold_domestic,products_sold_international,materials_received_domestic,materials_received_international,materials_used_domestic,materials_used_international,year
0,Factory B,1428,814,1633,274,550,362,1048,580,2020

In [5]:
# 코드

연도별 순생산량이 가장 큰 공장:
    year    factory  net_production
12  2020  Factory E            2034
75  2021  Factory A            1248
96  2022  Factory E            1474
49  2023  Factory B            1032

순생산량 합계: 5788